In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [3]:
d2=pd.read_csv("https://stats.idre.ucla.edu/stat/data/binary.csv")
d2.sample(5)

     admit  gre   gpa  rank
311      0  660  3.67     2
226      0  620  3.58     2
58       0  400  3.65     2
10       0  800  4.00     4
393      1  620  3.75     2

In [4]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
admit    400 non-null int64
gre      400 non-null int64
gpa      400 non-null float64
rank     400 non-null int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

In [5]:
d2.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

In [7]:
y=d2['admit']
x=d2.iloc[:, 1:]
x.sample(5)

     gre   gpa  rank
204  600  3.89     1
28   780  3.22     2
27   520  3.74     4
103  540  3.94     3
253  540  3.55     4

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
# the dataset is spliting with 20% for test size
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2, random_state=0)

In [10]:
# finding 'y', coefficient and intercepts in logit
logit=sm.Logit(y_train, x_train)

In [11]:
# getting probability of 'y'
result=logit.fit()

Optimization terminated successfully.
         Current function value: 0.581970
         Iterations 5

In [12]:
# summary of losgistic regreesion model
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  320
Model:                          Logit   Df Residuals:                      317
Method:                           MLE   Df Model:                            2
Date:                Fri, 04 Oct 2019   Pseudo R-squ.:                 0.07022
Time:                        15:19:15   Log-Likelihood:                -186.23
converged:                       True   LL-Null:                       -200.30
Covariance Type:            nonrobust   LLR p-value:                 7.791e-07
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
gre            0.0010      0.001      0.829      0.407      -0.001       0.003
gpa            0.1265      0.224      0.564      0.572      -0.313       0.566
rank          -0.7354      0.139     -5.273      0.000      -1.009      -0.462
==============================================================================
"""

In [13]:
result.params

gre     0.000967
gpa     0.126549
rank   -0.735435
dtype: float64

In [14]:
# confusion matrix
result.pred_table()

array([[197.,  21.],
       [ 75.,  27.]])

In [15]:
# odd ratio
np.exp(result.predict(x_test)).head(10)

132    1.465679
309    1.218026
341    1.232763
196    1.265077
246    1.497162
60     1.469441
155    1.124378
261    1.410190
141    1.149712
214    1.479509
dtype: float64

In [16]:
np.exp(result.params)

gre     1.000968
gpa     1.134905
rank    0.479297
dtype: float64

In [18]:
y_pred=result.predict(x_test)
y_pred.head(5)

132    0.382319
309    0.197231
341    0.209258
196    0.235133
246    0.403572
dtype: float64

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score([1 if p >0.5 else 0 for p in y_pred], y_test)

0.6875