In [1]:
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
import pandas as pd

In [2]:
# loading the dataset
d1=pd.read_csv("https://stats.idre.ucla.edu/stat/data/binary.csv")
d1.sample(5)

     admit  gre   gpa  rank
239      0  700  3.45     3
189      0  500  3.35     2
29       0  520  3.29     1
292      0  680  3.70     2
314      0  540  3.46     4

In [4]:
y=d1['admit']
x=d1.iloc[:, 1:]
x.sample(5)

     gre   gpa  rank
167  720  3.77     3
18   800  3.75     2
268  680  3.46     2
324  520  2.70     3
233  420  2.67     3

In [9]:
# fit a naive Bayes model to the data
model=GaussianNB()
model.fit(x,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
# make predictions
expected=y
predicted=model.predict(x)

In [11]:
# summarize the fit of the model
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

           0       0.73      0.89      0.80       273
           1       0.55      0.29      0.38       127

    accuracy                           0.70       400
   macro avg       0.64      0.59      0.59       400
weighted avg       0.67      0.70      0.67       400

[[243  30]
 [ 90  37]]