In [1]:
from sklearn import metrics
from sklearn.svm import SVC
import pandas as pd

In [2]:
# loading the dataset
d1=pd.read_csv("https://stats.idre.ucla.edu/stat/data/binary.csv")
d1.sample(5)

     admit  gre   gpa  rank
338      0  540  3.20     1
373      1  620  3.37     1
257      1  620  3.95     3
109      0  480  3.45     2
194      1  600  3.47     2

In [3]:
y=d1['admit']
x=d1.iloc[:, 1:]
x.sample(5)

     gre   gpa  rank
141  700  3.52     4
134  560  2.95     2
363  460  3.44     2
100  340  3.15     3
60   620  3.18     2

In [7]:
# fit a svm model to the data
model=SVC()
model.fit(x,y)

D:\anaconda\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [8]:
# make predictions
expected=y
predicted=model.predict(x)

In [9]:
# summarize the fit of the model
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

           0       0.75      0.95      0.84       273
           1       0.74      0.31      0.43       127

    accuracy                           0.74       400
   macro avg       0.74      0.63      0.63       400
weighted avg       0.74      0.74      0.71       400

[[259  14]
 [ 88  39]]